.contenido {
  background-color: rgb(255, 251, 245);
}
#marca {
    margin-right: 20px;
    width: auto;
    font-size: 20px;
  }
  
  #img1 {
    width: 60px;
    height: 40px;
  }
  
  #fondomenu {
    background: linear-gradient(45deg, #111, #333);
    color: white;
  }
  
  #prov {
    color: white;
    transition: background-color 0.5s ease;
  }
  
  #boton {
    background: linear-gradient(45deg, #111, #333);
    color: white; 
    padding: 10px 20px; 
    border: none; 
  }
  
  #boton:hover {
    background-color: #79a687; 
    transition: background-color 0.5s ease; 
  }

  #cordoba {
    text-align: center;
    padding: 2em;
  }

  #larioja {
    text-align: center;
    padding: 2em;
  }

  h2 {
    padding: 2em;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }