#menu{
 background-color: black;
}

#marca{
  width: 210px;
}
#marcas{
  color: antiquewhite;
  margin-left: 70px;
  margin-top: -30px;
}

.anuncio{
  width: 1300px;
  height: 300px;
  background-color: aqua;
}