#menu{
 background-color:#4C5B5C;
box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
}

#marca{
  margin-right: 20px;
  width: auto;
  font-size: 20px;
}

#img1{
  width:50px;
  height:20px;
}

.anuncio{
  height: 300px;
  background-color: aqua;
}

#fondomenu {
  background-color: #4C5B5C; /* color de fondo inicial del botón */
  color:white;
}

#prov{
  color: white;
  transition: background-color 0.5s ease;
}

#boton {
  background-color: #4C5B5C; /* color de fondo inicial del botón */
  color: white; /* color de texto inicial del botón */
  padding: 10px 20px; /* tamaño del botón */
  border: none; /* borde del botón */
}

#boton:hover {
  background-color: #79a687; /* color de fondo al pasar el mouse sobre el botón */
  transition: background-color 0.5s ease; /* definir la transición */
}

.buttons {
  min-width: 700px;
  display: flex;
  justify-content: space-around;
}

.buttons i {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons i:hover {
  transform: scale(1.2);
}

